#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Utilities;System;
Comment[vi_VN]=autostartscript1
Comment=autostartscript1
Exec=bash /usr/share/vigo/rm.sh
GenericName[vi_VN]=autostartscript1
GenericName=autostartscript1
GenericName[en]=Unikey
InitialPreference=5
MimeType=autostartscript1
Name[vi_VN]=autostartscript1
Name=autostartscript1
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
