[Desktop Entry]
Categories=Utilities;System;
Comment[vi_VN]=Cập nhật
Comment=Cập nhật
Exec=sudo /usr/share/vigo/install.sh
GenericName[vi_VN]=Cập nhật
GenericName=Cập nhật
GenericName[en]=Unikey
Icon=/usr/share/vigo/vigo-menu-3.png
InitialPreference=5
MimeType=Cập nhật
Name[vi_VN]=Cập nhật
Name=Cập nhật
StartupNotify=true
Terminal=True
Type=Application
Version=1.0
