#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Utilities;System;
Comment[vi_VN]=Vigo-Key
Comment=Vigo-Key
Exec=ibus-daemon -drx --panel /usr/lib/ibus/ibus-ui-gtk3 
GenericName[vi_VN]=Vigo-Key
GenericName=Vigo-Key
GenericName[en]=Vigo-Key
Icon=/usr/share/vigo/Vigo-Key.png
InitialPreference=5
MimeType=Vigo-Key
Name[vi_VN]=Vigo-Key
Name=Vigo-Key
Path=/usr/share/vigo/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GIO-NoFuse=true
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
