[Desktop Entry]
Comment[vi_VN]=
Comment=
Exec=sudo /usr/share/vigo/vigo-store-app.sh %U & /usr/bin/vigo/run.sh %U
GenericName[vi_VN]=
GenericName=
Icon=icon-vigo-store.png
MimeType=
Name=VIGO Store
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
