[Desktop Entry]
Categories=Qt;Utilities;System;
Comment[vi_VN]=Cài đặt hệ điều hành
Comment=Cài đặt hệ điều hành
Exec=/usr/bin/calamares_polkit %f
GenericName[vi_VN]=Cài đặt hệ điều hành
GenericName=Cài đặt hệ điều hành
GenericName[en]=Cài đặt hệ điều hành
Icon=/usr/share/vigo/vigo-menu.png
InitialPreference=5
MimeType=Cài đặt hệ điều hành
Name[vi_VN]=Cài đặt hệ điều hành
Name=Cài đặt hệ điều hành
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
